body {
    font-family: "Times New Roman";
    padding-top: 0px;
}

h1, h2 {
    text-align: center;
}

.form-control {
    font-family: "Times New Roman";
}
/*
#navigation {
    background-color: #c9d3d5;
    border-bottom: 10px solid #333;
    margin: 0;
    background-image: url("http://cottagelabs.com/static/cottage.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 288px;
}*/

#overall-body-container {
    padding-right: 4em;
}

body {
    background-image: url("../img/cottage_cropped.png");
    background-repeat: no-repeat;
    background-position: 67% 0%;
    background-color: #c9d3d5;
}

#top_spacer {
    margin-top: 1em;
}

/*
#navigation {
    background-color: transparent;
    border-style: solid;
    border-bottom-width: 5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: grey;
    height: 120px;
}
*/

#navigation a {
    background-color: transparent;
    color: black;
    height: 35px;
    font-family: "Times New Roman";

}

#navigation a:not(.navbar-brand) {
    font-size: 16px;
}

#navigation a:hover {
/*    background-color: #FFC805;*/
    color: black;
    border-width: 0px;
}

#navigation a:hover.navbar-brand {
    background-color: transparent; !important
}

.navbar-brand {
    font-size: 30px;
}

.panel {
  border-top-width: 5px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #0e8293;
  background-color: #eaeaea;
  /*height: 220px;*/
  border-radius: 0px;
}

.btn {
    color: white;
    font-family: "Times New Roman";
    font-size: 20px;
    border-radius: 0px;
    border-width: 0px;
}

[class^="facetview_"] .btn {
    font-size: 14px;
    border-color: rgb(173, 173, 173);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

.btn-default {
    background-color: grey;

}

.btn-default:hover {
    background-color: #FFC805;
}

.btn-default:active {
    background-color: white;
}

.btn-primary {
    background-color: #0e8293;
}

.btn-primary:hover {
    background-color: #FFC805;
    color: black;

}

.status {
    background-color: #f0f0f0;
    /* height: 40px; */
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: #eaeaea;

}