<!DOCTYPE html>
<html dir="ltr" lang="en">


{% include 'head.html' %}

<body>

{% include 'header.html' %}

<div id="overall-body-container" style="margin-top:60px;">
    <div class="row">
        <div class="alert-messages">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {%if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissable fade in" data-alert="alert">
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              {{ message|safe }}
            </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
        </div>
    </div>

    <div>

        <div class="content" id="body">
            <div class="row">
                <div class="container col-md-1">
                    A menu can go here, that way we don't have to deal with scroll-spying to hide a horizontal overlaid menu, and we don't need this screen space right now for anything else.
                </div>
                <div class="col-md-11">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div> <!-- /content -->


        {% include 'footer.html' %}
        {% include '_js_includes.html' %}

        {% block extra_js_bottom %}

        {% endblock extra_js_bottom %}

    </div>
</div> <!-- /container -->

</body>
</html>