{% extends "base.html" %}



{% block content %}

<div class="container col-md-12" style="padding-bottom: 150px; padding-top: 40px; font-size: 20px;">
    <div class="row">
        <div class="contaier col-md-6 col-md-offset-1">
        Lorem ipsum dolor sit amet, pede velit, dictum mauris quis aliquam pede quis, mus ut in nisl ut justo, massa integer sapien pellentesque sed vehicula leo. Vel id felis eleifend, amet faucibus sociosqu, quisque laoreet a dolor fringilla. Amet dolor egestas eleifend vestibulum orci, euismod et lorem aliquam, et lectus vehicula enim. Arcu eget faucibus urna velit, a sodales consectetuer volutpat nibh, lorem vel eget, praesent velit scelerisque turpis cursus omnis, sed volutpat volutpat ratione. Erat vestibulum placerat mauris, rhoncus sit facilisis sed erat, sociis luctus in eget velit vitae placerat, at faucibus, euismod amet. Lacus sit molestie vitae, aliquam sociosqu, dis id pulvinar dictum vestibulum praesent facilisis. Adipiscing et semper voluptas quis id, phasellus eget sit dui integer ligula lacus.
        </div>
        <div class="panel col-md-3 col-md-offset-1">

        </div>
        <div class="panel col-md-3 col-md-offset-1" >

        </div>
    </div>
</div>

{% endblock %}


{% block extra_js_bottom %}
<script type="text/javascript" src="{{ url_for('static', filename='js/service.facetview.theme.js') }}"></script>
{% endblock%}