{% extends "base.html" %}

{% block content %}
<div class="container col-md-12" style="padding: 20px; padding-top:0px; height: 500px;">
    <h1 style="text-align:center;"><small>Progress for: </small> {{job.filename}}</h1>
    <div class="col-md-offset-3 col-md-6 panel" >
            <div class="row" style="padding: 10px;">
                    <a href="{{url_for('download_original_csv', job_id=job.id)}}" class="btn btn-primary col-md-12">Download original</a>
            </div>
            <div class="row" style="padding: 10px;">
                <div class="container status col-md-12">
                    Spreadsheet status:
                    {{job.status_code}}
                 </div>
            </div>
        {% if job.status_code == "submitted" %}
        <div class="row" style="padding: 10px;">
                <div class="container status col-md-12">
                    Your spreadsheet has been uploaded. Processing will start shortly.
                 </div>
            </div>
        {% else %}
            <div class="row" style="padding: 10px;">
                <div class="container status col-md-12">
                    Processing progress:
                    {{int(job.pc_complete)}}%
                 </div>
            </div>
            <div class="row">
                    <a href="{{url_for('download_progress_csv', job_id=job.id)}}" class="btn btn-primary col-md-12" style="padding: 10px;">{% if job.status_code == "completed" %} Download final result {% else %} Download current stage {% endif %}</a>

            </div>
        {% endif %}



     </div>
</div>



{% endblock %}

