{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="container col-md-offset-3 col-md-6">
        <h1 style="text-align:center;">Upload a CSV</h1>
        <p>You can export a CSV from Excel, then upload it here.  See the <a href="{{ url_for('docs') }}">documentation</a> for more details.</p>

        <form method="POST" enctype="multipart/form-data" role="form">
            <div class="panel col-md-12">
                <div class="row">
                    <div class="form-group input-lg" style="padding-top: 50px; padding-bottom: 40px;">
                        <div class="input-group">
                            <input  type="file" name="upload" id="upload-csv">
                            {% if invalid_file == True %}
                             <div style="color: red;">Please upload a valid CSV file.</div>
                            {% endif %}
                            <!-- Add this to the input field above when dropdown is implemented -->
                            <!--class="col-md-7"-->

                            <!-- Dropdown for spreadsheet type -->
                            <!--{{form.spreadsheet_type(class="dropdown col-md-4")}} -->
                        </div>
                     </div>
                </div>
                <div class="row">
                     <div class="form-group input-lg">
                         <div class="input-group col-md-12">
                             {{form.contact_email(class="form-control", placeholder="Email (Required)")}}
                             {% if form.contact_email.errors %}
                                   {% for error in form.contact_email.errors %}
                                   <p style="color: red;">{{error}}</p>
                                   {% endfor %}
                                {% endif %}
                         </div>
                     </div>

                </div>
            </div>
            <div class="container col-md-12">
                <div class="row">
                    <button type="submit" class="btn btn-default btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="container col-md-offset-3 col-md-6" style="margin-top: 3em;">
        <h2>Shed some light on your articles!</h2>

        <p>Upload a spreadsheet with the DOIs, PMIDs, PMCIDs and titles of the articles you're interested in, and we will tell you if they are open access and what license they have. Information comes from <a href="europepmc.org" target="_blank">Europe PubMed Central</a> and <a href="http://howopenisit.org">OpenArticleGauge</a>.</p>
    </div>
</div>

<!--
<div class="row">
    <div class="container col-md-12" style="margin-top: 2em; margin-bottom: 2em; text-align: center;">
        <h2>Here goes a demo form with 4 columns: DOI, PMID, PMCID, Title</h2>
        Converts it to a CSV internally and feeds to the rest of processing workflow.
    </div>
</div>
-->
{% endblock %}